.logo
{height: 15%; 
   width: 50%;
   display:block;
   margin:auto;
   padding: 10% 5% 2% 5%
}
.texto
{text-align: center;
}
.fondo
{
    background:  #7044ff;
    padding: 1px 15px 150px 15px;
 
}
.flecha
{ margin: auto}
